.form-element {
  margin: 10px 0;
  padding: 4px;
  border: 1px solid hsl(0, 0%, 85%);
}

.form-element h2 {
  margin: 5px 0 10px 0;
  font-size: 18px;
}

#header-form {
}

#label-form {
}

#dropdown-form {
}

#table-form table {
  width: 100%;
}

#add-column-button {
  float: right;
}

#table-form table th, #table-form table td {
  width: 5%;
}

#table-form table th {
  background-color: hsl(0, 0%, 87%);
}

#table-form table td {
  text-align: center;
  background-color: hsl(0, 0%, 95%);
}

.form-type-selector {
  margin: 20px 0;
  font-size: 10px;
}

.form-section-header {
  font-size: 24px;
  font-weight: bold;
}

.form-question-header {
  font-size: 18px;
  font-weight: bold;
  display: block;
  border-bottom: 0.5px solid hsl(0, 0%, 85%);
  margin-bottom: 10px;
}

.userText-formName {

}

.userText-formContent {

}
