* {
  /*border: 1px solid pink;*/
  font-family: "Helvetica";
}

header {
  text-align: center;
  background-color: hsl(0, 0%, 80%);
}

#form-builder {
  width: 0 auto;
  /*margin: 0px 40px;*/
}

#preview-pane, #toolbar-pane {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
}

#preview-pane {
  float: left;
  width: 60%;
}

#preview-pane h1 {
  text-align: center;
}

#toolbar-pane {
  width: 30%;
}

#toolbar-pane h1 {
  text-align: center;
}

.toolbar-element {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 2px;
  margin: 5px 0;
}

.toolbar-element:hover {
  background-color: hsl(0, 0%, 70%);
}
